.busqueda{
    margin-left: 250px;
    margin-top: 50px;
}
.parametros {
    width: 1050px;
    height: auto;
}
.tablabusqueda {
    overflow:scroll;
    font-family: "Nunito", sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    border-radius: 50px;

}
.tablabusqueda td, .tablabusqueda th {
    border: 1px solid #ddd;
    padding: 8px;   
}
.tablabusqueda tr:nth-child(even){background-color: white;} 
.tablabusqueda tr:hover {background-color: #ddd;}
.tablabusqueda th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    background-color: darkcyan;
    color: white;
}
.label{
    margin-left: 20px;
}
.textbox{
    width: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
    
}
.resultado{
    margin-left: 250px;
    width: 1050px;
}
.tablapedimentos {
    overflow:scroll;
    font-family: "Nunito", sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    border-radius: 50px;

}

.tablapedimentos  td, .tablapedimentos  th {
    border: 1px solid #ddd;
    padding: 2px; 
    font-size: 10px;
}
.tablapedimentos  tr:nth-child(even){background-color: #ddd;} 
.tablapedimentos  tr:hover {background-color: #ddd;}
.tablapedimentos  th {
    padding-top: 1px;
    font-size: 10px;
    padding-bottom: 1px;
    text-align: left;
    background-color: darkcyan;
    color: white;
}
